.button {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 250ms;
  margin: 5px;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(-1px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.note {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.note-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#timestamp {
  float: right;
  font-size: 0.9em;
  color: #535353;
  margin-bottom: 10px;
}

#backBtn {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#notesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#addNoteArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-top: 10px;
  padding-bottom: 80px;
}

#noteContent {
  width: 200px;
  height: 80px;
}
